{% extends 'event/base.html' %}

{% block title %} OpportunIT SignIn | LogIn  {% endblock %}

{% block content %}

<div class="header h-[10vh] relative flex flex-wrap ">
    <div class="w-1/3 px-2 h-full flex justify-center items-center mt-6">
        <p class="">
            <a href ="{% url 'event:arrival' %}">
                <i class="fa-solid fa-handshake text-8xl text-blue-500"></i>
            </a>
        </p>
    </div>
</div>

<div class="body flex flex-wrap relative  h-[85vh] justify-center items-center">
    <div class="border-2 border-black w-[80%] sm:w-[300px] md:w-[400px] h-[60%] sm:h-[400px] md:h-[500px] flex ">
        <div class="mt-2 w-96 flex flex-col">
            <p class="text-3xl px-3 py-2 font-bold">Register User</p>
       <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render the form fields -->
        <button type="submit">Register</button>
    </form>

       {% if error_message %}
            <p class="text-red-500">{{ error_message }}</p>
       {% endif %}
   </div>

    </div>
</div>



<div class="footer flex flex-wrap relative  h-[5vh] justify-center items-center">

    <div class=" ">
        <ul class="flex">
            <li class="text-sm">
                OpportunIT © 2024
            </li>
        </ul>
    </div>
</div>
{%endblock%}